<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RMIT_CINEMA_Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RMIT_CINEMA_Version2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29632A951CEB03BA002CEB2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>299ABB3D1CB4E9E90045BF44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>299ABB511CB4E9EA0045BF44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>299ABB5C1CB4E9EA0045BF44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
