<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>9:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>11:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>13:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>19:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>22:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 16</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>10:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>14:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>20:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 17</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>9:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>13:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>17:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>21:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 18</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>8:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>12:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>16:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>20:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 19</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>11:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>17:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>21:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 20</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>11:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>14:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>19:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 21</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>9:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>12:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>18:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 22</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>9:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>12:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>17:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>20:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 23</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>10:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>14:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>18:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 24</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>9:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>13:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>21:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 25</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>10:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>15:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>22:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 26</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>10:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>15:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>21:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 27</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>11:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>13:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>20:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 28</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>10:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>19:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 29</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>areas</key>
				<array>
					<string>AM</string>
				</array>
				<key>state</key>
				<string>9:30</string>
			</dict>
			<dict>
				<key>areas</key>
				<array>
					<string>PM</string>
				</array>
				<key>state</key>
				<string>15:30</string>
			</dict>
		</array>
		<key>state</key>
		<string>May 30</string>
	</dict>
</array>
</plist>
